<div class="center-block-page">
    <div class="login-container">
        <div class="text-center">
            <h2 class="title">Welcome Back!</h2>
            <p class="subtitle">Please {{ isLoginMode ? 'log' : 'signup' }} in to your account</p>
        </div>

        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="form-fields">


                <div>
                    <label for="password" class="form-label">User Name</label>
                    <input type="text" id="userna" formControlName="username" required class="input-field"
                        placeholder="Enter your username">
                </div>
                <div>
                    <label for="text" class="form-label">Password</label>
                    <input type="password" id="password" formControlName="password" autocomplete="current-password"
                        required class="input-field" placeholder="••••••••">
                </div>
            </div>



            <div class="button-container">
                <button type="submit" class="btn-primary">
                    Sign in
                </button>
            </div>
        </form>

        <div class="signup-section">
            <p class="signup-text">
                Don't have an account?
                <a class="link" (click)="onSwithchMode()">
                    {{ isLoginMode ? 'Sign up' : 'Log in' }}
                </a>
            </p>
        </div>
    </div>
</div>