<!-- src/app/products/products.component.html -->
<section class="container">
    <h1 class="page-title">Our Latest Collection</h1>
    <p class="section-subtitle">Discover our full range of dynamic and vibrant apparel.</p>
    <div class="product-list-grid">

        <div class="product-card" *ngFor="let product of products">
            <a>
                <img src="{{ product.image }}" alt="Dynamic Tech Tee" class="product-image">
            </a>
            <div class="product-info">
                <div>
                    <a class="product-name">{{product.name}}</a>
                    <p class="product-price">{{product.price}}</p>
                </div>
                <div class="product-actions">
                    <button class="add-to-cart-button" [routerLink]="'/products/checkout'" [state]="product">Add to
                        Cart</button>
                    <a class="view-details-button" [routerLink]="'/products/' + product.id">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>