<section class="container">
    <div class="header-container">
        <h1 class="page-title">Our Latest Collection</h1>
        <button class="add-product-button" (click)="openAddProductModal()">Add Product</button>
    </div>

    <div class="product-list-grid">
        <div class="product-card" *ngFor="let product of products">
            <a>
                <img src="{{ product.image }}" alt="Product image" class="product-image">
            </a>
            <div class="product-info">
                <div>
                    <a class="product-name">{{ product.name }}</a>
                    <p class="product-price">{{ product.price | currency:'USD':'symbol' }}</p>
                </div>
                <div class="product-actions">
                    <button class="add-to-cart-button" [routerLink]="'/products/checkout'" [state]="product">Add to
                        Cart</button>
                    <a class="view-details-button" [routerLink]="'/products/' + product.id">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal-overlay" *ngIf="showAddProductModal">
    <div class="modal-content">
        <app-create-product (productAdded)="onProductAdded($event)" (cancel)="onModalCancel()">
        </app-create-product>
    </div>
</div>