<section class="container">
    <div class="product-details-section" *ngIf="selectedProduct && !isLoading">
        <img src="{{selectedProduct.image}}" alt="Dynamic Tech Tee" class="product-details-image-large">
        <div class="product-details-info">
            <h1>{{selectedProduct.name}}</h1>
            <p class="price">{{selectedProduct.price}}</p>
            <p class="description">
                Experience peak performance and style with our Dynamic Tech Tee.
                Engineered with moisture-wicking fabric to keep you cool and dry,
                it's perfect for active lifestyles or everyday comfort. Its ergonomic
                design ensures maximum mobility, making it an essential for your dynamic life.
            </p>
            <h3>Product Highlights:</h3>
            <ul>
                <li>⚡ Material: 88% Recycled Polyester, 12% Spandex</li>
                <li>⚡ Fit: Athletic Slim Fit</li>
                <li>⚡ Care: Machine wash cold, air dry for best results</li>
                <li>⚡ Available Sizes: S, M, L, XL, XXL</li>
                <li>⚡ Color Options: Electric Blue, Stealth Black, Graphite Gray</li>
            </ul>
            <button class="add-to-cart-button">Add to Cart</button>
            <div class="product-navigation-buttons">
                <button class="nav-button">
                    ← Previous Product
                </button>
                <button class="nav-button">
                    Next Product →
                </button>
            </div>
            <a routerLink="/products" class="back-to-products-link">← Back to All Products</a>
        </div>
    </div>
    <div class="product-details-section-no-product" *ngIf="!selectedProduct && !isLoading">
        <h2 class="no-product-selected">No product selected. Please select a product to view details.</h2>
        <a routerLink="/products" class="cta-button secondary-cta">View All Products</a>
    </div>
    <app-loader *ngIf="isLoading && !selectedProduct"></app-loader>
</section>