<section class="container">
    <div class="hero-section">
        <h1>Unleash Your Style.</h1>
        <p>Explore a dynamic collection of cutting-edge fashion and vibrant designs.</p>
        <div class="product-search-bar">
            <input type="text" placeholder="Search products..." class="search-input" #searchInput />
            <button class="search-button" [routerLink]="'/products'"
                (click)="onSearch(searchInput.value)">Search</button>
        </div>
        <a class="cta-button" (click)="navigateToAppProducts()">Discover Now</a>
    </div>



    <div class="about-us-snippet">
        <h2 class="section-title">Our Story</h2>
        <p class="section-subtitle">Passion for fashion, commitment to quality.</p>
        <div class="about-content">
            <p>
                At VibrantStyle, we're more than just a clothing brand. We're a community
                driven by the belief that fashion should be a reflection of your unique energy
                and a tool for self-expression. We meticulously curate collections that blend
                cutting-edge trends with timeless quality, ensuring every piece you own
                is both stylish and enduring.
            </p>
            <p>
                Our commitment extends beyond aesthetics. We champion ethical production
                and responsible sourcing, partnering with manufacturers who share our values.
                Every garment tells a story of thoughtful design and conscious creation.
            </p>
            <a routerLink="/about" class="cta-button secondary-cta">Learn More About Us</a>
        </div>
    </div>

    <div class="featured-products">
        <h2 class="section-title">Must-Haves This Season</h2>
        <p class="section-subtitle">Discover our top picks and best sellers.</p>


        <div class="product-list-grid">
            <div class="product-card" *ngFor="let product of products">
                <a>
                    <img [src]="product.image" [alt]="product.name" class="product-image">
                </a>
                <div class="product-info">
                    <div>
                        <a class="product-name">{{ product.name }}</a>
                        <p class="product-price">${{ product.price }}</p>
                    </div>
                    <div class="product-actions">
                        <button class="add-to-cart-button" [routerLink]="'/products/checkout'">Add to Cart</button>
                        <button class="view-details-button" [routerLink]="'/products/' + product.id">View</button>
                    </div>
                </div>
            </div>


        </div>
        <div class="view-all-products-btn-container">
            <a routerLink="/products" class="cta-button secondary-cta" (click)="navigateToAppProducts()">View All
                Products</a>
        </div>
    </div>
</section>